th{
    width: 50%;
    text-align: left;
    padding-left: 20px;
}
td{
width: 50%;
padding-right: 20px;
// float: right;
text-align: right;
font-size: large;
}
.opening{
color: green;
}
.closing{
color: red;
}
.total{
color: blue;
}