<!-- <ion-header>
  <ion-toolbar>
    <ion-title>loan-ui</ion-title>
  </ion-toolbar>
  
</ion-header> -->

<ion-content class="page">
 
  <ion-grid class="avatar">
      <div class="karanzi">
        <img class="img-av" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </div>
    <ion-col class="label">
      <ion-label>
        <ion-row><h5 class="text-color">Hello</h5></ion-row>
        <ion-row><h5 class="text-color">Karanzi John Mary</h5></ion-row>
      </ion-label>
    </ion-col>
  </ion-grid>
  <div class="balance">
    <div class="ion-text-center text-color">Balance</div>
    <div class="ion-text-center text-color balance_figure">12,000</div>
  </div>

  <div class="loan-menu">
    <div class="div1"><ion-icon class="icon" name="wallet"></ion-icon></div>
    <div class="div2"><ion-icon class="icon" name="send"></ion-icon></div>
    <div class="div3"><ion-icon class="icon" name="card"></ion-icon></div>
  </div>

 <!--  <div class="text-trial">
    Karanzi
  </div> -->
  <div class="transactions">
    
  </div>
  
</ion-content>
