
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Registration</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="submit()" [formGroup]="userForm">
    
        <ion-item>
          <ion-label class="ion-text-wrap" position = "stacked">First Name</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.firstName">
            <div class="error-message"
              *ngIf="userForm.get('firstName').hasError(validation.type) && (userForm.get('firstName').dirty || userForm.get('firstName').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <ion-item>
          <ion-label class="ion-text-wrap" position = "stacked">Last Name</ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.lastName">
            <div class="error-message"
              *ngIf="userForm.get('lastName').hasError(validation.type) && (userForm.get('lastName').dirty || userForm.get('lastName').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <ion-item>
          <ion-label position="stacked" class="ion-text-wrap">Email</ion-label>
          <ion-input formControlName="emailAddress" type="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.emailAddress">
            <div class="error-message"
              *ngIf="userForm.get('emailAddress').hasError(validation.type) && (userForm.get('emailAddress').dirty || userForm.get('emailAddress').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    
        <ion-item>
          <ion-label position="stacked" class="ion-text-wrap">Password</ion-label>
          <ion-input [type]="showPassword ? 'text':'password'" formControlName="password"></ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="userForm.get('password').hasError(validation.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class='button'>
          <ion-button class="ion-align-items-center" color="primary" type="submit">Create My Account</ion-button>

        </div>

    
      </form>
    </ion-card-content>
  </ion-card>
  

</ion-content>
