<ion-header>
  <ion-toolbar class="top-header">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Reset Password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form >
        <span id="number">
          <ion-item>
            <ion-label position="floating">Enter Your Number</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-button (click)="cust()" expand="block" class="btn-right">Submit</ion-button>
        </span>
        <span id="code">
          <ion-item>
            <p>Enter the code that we sent to your email</p>
            <ion-label position="floating">Enter Code</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-button (click)="code()" expand="block" class="btn-right">Submit</ion-button>
        </span>
        <span id=password>
          <ion-item>
            <ion-label position="floating">Create New Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-button (click)="password()" expand="block" class="btn-right">Submit</ion-button>
        </span>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>