.menu-header{
    height: 150px;
    --background-color: #1f81c5;
    color: #fff;

}
.menu-header-items{
    text-align: center;
    color: #ffffff !important;
}
.menu-img{
    margin-left:40%;
    margin-top: 10%;
}
.menu-footer{
    color: #1f81c5;
}