<ion-content>


  
  <div class="div-logo">
    <ion-img class="img" src="../../assets/img/mobilemenu.png" alt="Logo"></ion-img>
  </div>


    <div class="login-collaction">
    <div class="nepserv" style="color: #1f81c5">
      Forgot Password
    </div>
    
    <span *ngIf="!tokenSent">
    <form [formGroup]="fogotPasswordForm" (ngSubmit)="forgotPassword()">

    <ion-grid>
      <ion-row color="primary">
        <ion-col size-md="12" size-lg="12" size-xs="12">

          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-input formControlName="userName" type="text" placeholder="Username" style="padding-left:10px !important;"></ion-input>            
          </ion-item>
          <div class="validation-errors" style="margin-bottom: 20px;">
            <ng-container *ngFor="let validation of validation_messages.userName">
              <div class="error-message"
                *ngIf="fogotPasswordForm.get('userName').hasError(validation.type) && (fogotPasswordForm.get('userName').dirty || fogotPasswordForm.get('userName').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>  
       

            <ion-button class="margin-top" size="small"  type="submit" [disabled]="fogotPasswordForm.invalid"  expand="block">Forgot Password</ion-button>

           <ion-button size="small" (click)="iHaveAToken()" class="back-btn color-white" fill="clear" expand="block">i have a token</ion-button> 
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</span>

  <span *ngIf="tokenSent">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-input formControlName="userName" type="text" placeholder="Username Or Member No." style="padding-left:10px !important;"></ion-input>              
    </ion-item>
    <div class="validation-errors" style="margin-bottom: 20px;">
      <ng-container *ngFor="let validation of validation_messages.userName">
        <div class="error-message"
          *ngIf="resetPasswordForm.get('userName').hasError(validation.type) && (resetPasswordForm.get('userName').dirty || resetPasswordForm.get('userName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> 

    <ion-item *ngIf="token_allowed">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-input type="text" formControlName="token" placeholder="Token" style="padding-left:10px !important;"></ion-input>
    </ion-item>
    <div class="validation-errors" style="margin-bottom: 20px;">
      <ng-container *ngFor="let validation of validation_messages.token">
        <div class="error-message"
          *ngIf="resetPasswordForm.get('token').hasError(validation.type) && (resetPasswordForm.get('token').dirty || resetPasswordForm.get('token').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> 

    <ion-item>
       <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input [type]="isCreatePasswordSeen?'text':'password'" formControlName="password" placeholder="Create Password" style="padding-left:10px !important;"></ion-input>
      <ion-icon [name]="isCreatePasswordSeen? 'eye-outline' :'eye-off-outline'" (click)="isCreatePasswordSeen =!isCreatePasswordSeen" item-right></ion-icon>
    </ion-item>
    <div class="validation-errors" style="margin-bottom: 20px;">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="resetPasswordForm.get('password').hasError(validation.type) && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> 

    <ion-item>
       <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input [type]="isConfirmPasswordSeen?'text':'password'" formControlName="password" formControlName="confirm_password" placeholder="Confirm Password" style="padding-left:10px !important;"></ion-input>
      <ion-icon [name]="isConfirmPasswordSeen? 'eye-outline' :'eye-off-outline'" (click)="isConfirmPasswordSeen =!isConfirmPasswordSeen" item-right></ion-icon>
    </ion-item>
    <ion-label *ngIf="resetPasswordForm.controls['confirm_password'].errors?.ConfirmPassword"
    style="color: red">
    Passwords do not match
  </ion-label>
    <ion-button class="margin-top" size="small" expand="block" [disabled]="resetPasswordForm.invalid" type="submit">Submit</ion-button>
  </form>
</span>
<ion-button size="small" (click)="backToLogIn()" class="back-btn color-white" fill="clear" expand="block">Back</ion-button> 


  </div>
  

</ion-content>

