
  /**
  *
  *Original  try for log in 
  *
  */


  .btn1 {
    // ////////////position: fixed;
    left: 0;
    // ////////////bottom: 100px;
    right: 0;
    background: none;
    border: 1px solid #1f81c5;
    color: #1f81c5;
    height: 40px;
    width: 80%;
    margin-left: 8%;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    // ////////////height: 400px;
  }
  
  ion-content {
    //  //////////// --background:none;
    // --background: linear-gradient(
    //     to bottom,
    //     transparent,
    //     rgba(0, 0, 0, 0.9),
    //     rgba(0, 0, 0, 0.9)
    //   ),
    //   url("/assets/img/b1.png") no-repeat;
    // background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    //   ////////////text-align: center;
  }

  .login-collaction{
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .login-card {
    // ////////////width: 100%;
    // ////////////padding: 2px;
    // ////////////margin-left: 0px;
    // ////////////border-radius: 20px;
    // ////////////position: fixed;
    left: 0;
    // ////////////bottom: 0px;
    margin-top: 50px;
    right: 0;
    height: 400px;
    background-color: rgba(255,255,255,0.1);
  }
  .div-logo{
    text-align: center;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    padding: 10px;
    // ////////////margin-top: 20px;
    margin: 0 auto;
    margin-top: 70px;
    // ////////////margin-left: 34.333%;
    background-color: #ffffff;
    align-items: center;
    
  }
  .nepserv {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .register{
    color: #1f81c5;
    text-align: center;
    text-size-adjust: 80%;
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 4px;
    position: fixed;
    left: 0;
    // ////////////bottom: 10px;
    right: 0;
    margin-top: 20px;
  }



  ion-input[type=text]{

    background: rgba($color: #fff, $alpha: 1.0);
    color: #000000;
    border-radius: 5px;
    // padding-left: 10px;

    // color: #ffffff;
    // border-bottom: 1px solid #1f81c5;
    // margin-bottom: 10px;
  }
  
  ion-input[type=password]{
    background: rgba($color: #fff, $alpha: 1.0);
    color: #000000;
    border-radius: 5px;
    padding-left: 10px;

    // ////////////font-size:24px;
    // color: #ffffff;
    // border-bottom: 1px solid #1f81c5;
    // margin-bottom: 10px;
  }

  ion-input[type=number]{
    background: rgba($color: #fff, $alpha: 1.0);
    color: #000000;
    border-radius: 5px;
    // padding-left: 10px;
    // ////////////font-size:24px;
    // color: #ffffff;
    // border-bottom: 1px solid #1f81c5;
    // margin-bottom: 10px;
  }
  ion-item{
    border-radius: 5px;
  }

  .loginHead{
    color: #1f81c5;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  .self-reg{
    text-align: center;
    margin-top: 100px;
    color: #1f81c5;
  }
  .o-r{
    text-align: center;
    color: #ffffff;
  }
  .btn{
    text-align: center;
    margin: 0 auto;
  }
  .margin-top{
    margin-top: 20px;
  }
  .back-btn{
    margin-top: 20px;
  }
  #c_pass, #f_pass{
    font-size: smaller;
  }
