<ion-header>
  <ion-toolbar class="top-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
  </ion-buttons>
    <ion-title>Loan Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
             Loan Summary
             <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-title>
            <mat-panel-description>
              <!-- Type your name and age -->
              
            </mat-panel-description>
          </mat-expansion-panel-header>
    
         
              <table class="table">
                <tr class="row">
                  <th>Name</th>
                  <td class="value">{{loanDetailsList.name}}</td>
                </tr>
                <tr class="row">
                  <th>Member No.</th>
                  <td class="value">{{loanDetailsList.cust_no}}</td>
                </tr>
                <tr>
                  <th>Loan Application ID.</th>
                  <td class="value">{{loanDetailsList.acct_no}}</td>
                </tr>
                <tr class="row">
                  <th>Principal amount</th>
                  <td class="value">{{loanDetailsList.principal_amount | number:'1.0-0'}}</td>
                </tr>
                <tr class="row">
                  <th>Loan Product</th>
                  <td class="value">{{loanDetailsList.product_name}}</td>
                </tr>
                <tr class="row">
                  <th>Income Source</th>
                  <td class="value">{{loanDetailsList.income_sources}}</td>
                </tr>
                
                <tr class="row">
                  <th>Amount Paid</th>
                  <td class="value">{{loanDetailsList.amount_paid | number:'1.0-0'}}</td>
                </tr>
                <tr class="row">
                  <th>Unpaid Principal</th>
                  <td class="value">{{loanDetailsList.unpaid_principle | number:'1.0-0'}}</td>
                </tr>
                <tr class="row">
                  <th>Unpaid Interest</th>
                  <td class="value">{{loanDetailsList.unpaid_interest | number:'1.0-0'}}</td>
                </tr>
                <tr class="row">
                  <th>Loan Balance</th>
                  <td class="value">{{loanDetailsList.unpaid_principle + loanDetailsList.unpaid_interest| number:'1.0-0'}}</td>
                </tr>
               
                <tr class="row">
                  <th>Interest Rate</th>
                  <td class="value">{{loanDetailsList.interest_rate}}% per annum</td>
                </tr>
               
                <tr class="row">
                  <th>Interest Method</th>
                  <td class="value">{{loanDetailsList.loan_interest_type}}</td>
                </tr>
                <tr class="row">
                  <th>Loan Duration</th>
                  <td class="value">{{loanDetailsList.term_value}} {{loanDetailsList.term_cd}}</td>
                </tr>

                <tr class="row">
                  <th>Number of Repayments</th>
                  <td class="value">{{loanDetailsList.number_of_payments}}</td>
                </tr>

                <tr class="row">
                  <th>Repayment start date</th>
                  <td class="value">{{loanDetailsList.rpmnt_start_date | date: 'dd-MM-yyyy'}}</td>
                </tr>
                <!-- <tr class="row">
                  <th>Repayment Frequency Unit</th>
                  <td class="value">{{loanDetailsList.loan_rpmnt_freq_cd}}</td>
                </tr> -->
                <tr class="row">
                  <th>Repayment Frequency</th>
                  <td class="value">Every {{loanDetailsList.loan_rpmnt_freq_value}} {{loanDetailsList.loan_rpmnt_freq_cd}}</td>
                </tr>
                <tr class="row">
                  <th>Loan Status</th>
                  <td class="value">{{loanDetailsList.loan_status}}</td>
                </tr>                
              </table>

        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="loanRepayments?.length>0" [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              Repayments
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-card *ngFor="let repayment of loanRepayments">
            <ion-card-content>
              <table class="table">
                <tr class="row">
                  <th>Repayment Date</th>
                  <td class="value">{{repayment.transaction_dt | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr class="row">
                  <th>Posted By</th>
                  <td class="value">{{repayment.name + "-" + repayment.uname}}</td>
                </tr>
                <tr class="row">
                  <th>Posting Method</th>
                  <td class="value">{{"Manual"}}</td>
                </tr>
                <tr class="row">
                  <th>Amount Paid</th>
                  <td class="value">{{repayment.transaction_amt | number:'.2' }}</td>
                </tr>
                </table>
            </ion-card-content>
          </ion-card>
          <ion-grid>
            <ion-row class="row">
              <ion-col>
                Total Paid:
              </ion-col>
              <ion-col class="total">
                {{totalPayments | number:'.2' }}
              </ion-col>
            </ion-row>
          </ion-grid>

        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="repaymentSchdlFrmDb?.length>0" [expanded]="step === 1" (opened)="setStep(1)" >
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              Schedule
              <!-- <mat-icon>date_range</mat-icon> <mat-icon>map</mat-icon> -->
            </mat-panel-title>
          </mat-expansion-panel-header>
      
    <!-- Put my schedule here -->
    <ion-card
    *ngFor="let schedule of repaymentSchdlFrmDb; let i = index">
      <ion-card-header>
        <ion-card-subtitle class="title"> Repayment: {{ schedule.repayment_number }} </ion-card-subtitle>
        <!-- <ion-card-title>Card Title</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <table class="table">
          <tr class="row">
            <th>Due Date</th>
            <td class="value">{{schedule.instment_due_date | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr class="row">
            <th>Installment Amount</th>
            <td class="value">{{schedule.installment_amt | number:'.2'}}</td>
          </tr>
          <tr class="row">
            <th>Principal Expected</th>
            <td class="value">{{schedule.principle_amount | number:'.2'}}</td>
          </tr>
          <tr class="row">
            <th>Principal Paid</th>
            <td class="value">{{schedule.principle_amount_paid | number:'.2'}}</td>
          </tr>
          <tr class="row">
            <th>Interest Expected</th>
            <td class="value">{{schedule.interest_amount | number:'.2'}}</td>
          </tr>
          <tr class="row">
            <th>Interest Paid</th>
            <td class="value">{{schedule.interest_amount_paid | number:'.2'}}</td>
          </tr>
          
          <tr class="row">
            <th>Late Fees Expected</th>
            <td class="value">{{schedule.late_fees | number:'.2'}}</td>
          </tr>
          <tr class="row">
            <th>Late Fees Paid</th>
            <td class="value">{{schedule.late_fees_paid | number:'.2'}}</td>
          </tr>
          <tr class="row">
            <th>Total Paid</th>
            <td class="value">{{schedule.principle_amount_paid + schedule.interest_amount_paid + schedule.late_fees_paid | number:'.2'}}</td>
          </tr>
          
        </table>
      </ion-card-content>
    </ion-card>
    
        </mat-expansion-panel>
      
        
      
      </mat-accordion>
      
 
</ion-content>

