<ion-content class="background-image backcolor">
  <!-- <span style="background-color: #fff;">{{UniqueDeviceID}}</span> -->
<!-- 
  <ion-button (click)="getCurrentorientation()">Screen Type</ion-button> 
  <ion-button (click)="lockScreen()">Screen Lock</ion-button> 
  <ion-button (click)="unlockScreen()">Screen Lock</ion-button> -->

  <div class="div-logo">
      <ion-img class="img" src="../../assets/img/mobilemenu.png" alt="Logo"></ion-img>
  </div>

  <div class="nepserv">
    NepServ Vantage
  </div>
<!-- <button (click)="checkConnection()">Check connection</button> -->
<button (click)="login()" class="btn1">Login</button>


</ion-content>