ion-card{
    padding: 10px;
}

.submit {
    background-color: #3880ff;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    max-width: 540px;

  }

  .back {
    background-color: #0cd1e8;
    color: #fff;
    width: 100%;
    max-width: 540px;
  }