/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Data table */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


* {
    // font-family: monospace;
    font-family: 'Open Sans Regular';
}

.top-header {
    --ion-background-color: #2a3998; //#1f81c5;
    color: #fff;
}

ion-button.btn-theme {
    --background: #2a3998;//#1f81c5;
}

.text-align-right {
    text-align: right;
}

.text-align-left{
    text-align: left;

}

.text-align-center {
    text-align: center;
}

.emptyMessage {
    color: #8c8c8c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}