.self-reg-buttons{
    // padding: 10px;
    // display: inline;
    margin-bottom:50px;
}
.btn{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    background-color: #1f81c5;
    color: #fff;
    padding: 10px;
}
.table{
    width: 100%;
}
.results{
    padding: 20px;
}
.height{
    height: 25px;

}


input[type=number]{
    border: none;
}